<!-- <button (click)="login()"
class="btn btn-primary">Login With Google</button> -->


<div class="card text-center">
    <div class="card-header">
    <img src="assets/logo.png" width="20" height="20" class="d-inline-block align-top" alt="">
      Welcome to VegiFy
    </div>
    <div class="card-body">
      <h5 class="card-title">Login With Google</h5>
      <p class="card-text">Continue with login.</p>
      <button (click)="login()" class="btn btn-primary">
        <img src="assets/googlelogin.png" width="20" height="25" class="d-inline-block align-top" alt="">
          Google Login</button>
    </div>
  </div>