<div class="modal fade" id="myModal">
    <div class="modal-dialog  modal-dialog-centered" id="purchasebill_modal">
      <div class="modal-content pd-35">
        <!-- Modal Header -->
        <div class="modal-header border-0">
            {{data}}
          <button type="button" class="close" id="hkclose" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body hk-model-fs">
            <ng-content></ng-content>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer border-0">
  
        </div>
  
      </div>
    </div>
  </div>