<div class="row">
    <div class="col-md-3 col-sm-3">
           <product-filter [category]="category"></product-filter>
    </div>
    <div class="col">
      <div class="row" *ngIf="cart$ | async as cart">
        <product-card class="col-md-6 col-sm-6 mb-5" *ngFor="let product of filteredProducts; let i = index;"  
            [product]="product" [shopping-cart]="cart" [showAction]=true>
        </product-card> 
        <p *ngIf="filteredProducts.length == 0" style="font-size: 20px;">No data available.</p>
      </div>
    </div>
      
</div>
