<div class="d-flex flex-column detail_container">
    <p class="heading">
        Order Details : <span class="date">Placed On: {{order.dateCreated | date : 'MMM d, y' }}</span>
    </p>

 <div class="details detail_container">
    <p class="heading">
        Shipping Details
    </p>

    <div class="d-flex flex-column">
        <p><span class="sub_heading">Ordered By:</span> {{order.shipping?.name}}</p>

        <p class="sub_heading">Ordered Items</p>
        <div class="d-flex flex-wrap">
            <ng-container *ngFor="let item of order.items">
                <div class="d-flex flex-column item_container">
                    <div [style.backgroundImage]="'url(' + item?.product.imageUrl + ')'" class="thumbnail"></div>
                    <div class="name">{{item?.product?.title}}</div>
                </div>
            </ng-container>
            
        </div>
    </div>

 </div>
</div>